body{
margin:0;
padding:0;
font-family:Arial,sans-serif;
background:#101820;
color:white;
}

.container{
max-width:450px;
margin:auto;
padding:20px;
text-align:center;
}

h1{
color:#00e5ff;
}

input{
width:95%;
padding:12px;
margin:10px 0;
border:none;
border-radius:8px;
font-size:16px;
}

button{
width:100%;
padding:12px;
margin:8px 0;
border:none;
border-radius:8px;
background:#00b894;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#019875;
}

#friendList,
#chatBox{
margin-top:20px;
padding:10px;
min-height:120px;
background:#1f2937;
border-radius:10px;
}
